/****************
	BASE STYLES
****************/

body {
	margin: 0;
	min-width: 750px;
	background-color: #EEE2DF;
}

section {
	background-color: rgba(179, 106, 94, 0.4);
}

/****************
	NAVIGATION
****************/

nav {
	background-color: #c89f9c;
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
	color: white;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

nav ul li {
	display: inline-block;
	padding: 20px;
	margin: 0 -2px;
}

nav ul li a {
	font-size: 1.4em;
}

nav ul li:hover a {
	color: #595959;
}

nav ul li:hover{
	background-color: #eee2df;

}

.navbar-logo {
	float: right;
	color: white;
	font-size: 1.4em;
	pointer-events: none;
}
 .active-page-li {
 	background-color: #eee2df;
 }

.active-page-li a {
	color: #595959;
}

/****************
	FOOTER
****************/

footer {
	background-color: #c89f9c;
	color: white;
	margin: 0;
	padding: 1px 0;
}

footer ul {
	margin: 0;
	padding: 0;
	text-align: center;
	/*padding-top: 5px;*/
}

footer ul li {
	display: inline-block;
	padding: 10px 5px 0 0;
}

footer a {
	text-decoration: none;
	color: white;
}

footer ul li:hover a {
	color: #595959;
}

.footer-references {
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: underline;
}

.footer-copyright {
	text-align: center;
	padding-top: 10px;
}

#footer {
	max-height: 66px;
}


/****************
	HOME
****************/




/****************
	PRODUCTS
****************/

#products-page {
	min-width: 900px;
	background-size: 810px 750px;
	background-image: url("../images/Productbackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
}

#something {
/*	border: 2px solid blue;
*/	background-color: rgba(144, 89, 76, 0.5);
	padding: 0;
	margin: 0 auto;
	max-width: 810px;
	height: 100%;
	display: block;
}

.productCards {
/*	border: 2px solid green;
*/	padding: 0;
	margin: 5px;
	display: inline-block;
	width: 255px;
	height: 480px;
}

.productCards h2 {
	font-size: 0.90em;
}

.productCards p {
	font-size: 0.85em;
}

.productCardsPhoto {
	padding: 0;
	margin: 0 30%;
	list-style: none;
	display: inline-block;
/*	border: 2px solid red;
*/}

.productCardTitle {
	text-align: center;
	height: 35px;
	padding: 0;
}

.productCardDescription {
	text-align: justify;
	overflow: scroll;
	height: 200px;
}

.productCardPrice {
	font-weight: bold;
}

.productCardTitle,
.productCardDescription,
.productCardPrice,
.productCardWebsite {
/*	border: 2px solid yellow;
*/	width: 240px;
	margin: 10px auto;
	color: white;
}

.productCardWebsite {
	overflow: scroll;
}

#productCard2,
#productCard3,
#productCard5,
#productCard6 {
	float: right;
}

#photo1,
#photo2,
#photo3,
#photo4,
#photo5,
#photo6 {
	border-radius: 20%;
}

/*#doWhatIWant {
	position: relative;
	top: 0;
	text-align: right;
	display: inline-block;
	word-wrap: break-word;
	float: right;
	width: 20%;
	border: 1px solid yellow;
}*/

/****************
	ABOUT
****************/


/****************
HISTORY PAGE
****************/


#listOfProfiles {
	padding: 0;
	margin: 0 auto;
	width: 750px;
	height: 100%;
	display: block;
}

#listOfProfiles section {
	background-color: rgba(144, 89, 76, 0.4);
}

.profile ul {
	display: block;
	width: 705px;
	padding: 0;
	margin: 0 auto;
	list-style: none;
}

.profile ul li {
	margin: 20px 20px;
	height: 340px;
	display: inline-block;
}

.profile ul li img {
	margin: 15px 15px;
}

.adjRight {
	float: right;
}

.adjRight img {
	margin: 15px 0 0 0;
}

.adjLeft {
	float: left;
}

.name {
	margin: 0 0 15px 0;
	padding: 0;
	text-align: center;
}

.bio {
	text-align: justify;
	width: 325px;
	padding: 0;
	color: white;
}

.bioParagraph {
	white-space: initial;
	overflow: scroll;
	text-align: justify;
	width: 325px;
	height: 90%;
	padding: 0;
	margin: 0;
}


.photo {
	border-radius: 50%;
}

#history {
	background-size: 750px 750px;
	background-image: url("../images/Historybackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
}


/****************
	CONTACT
****************/

#contact {
	background-size: 750px 750px;
	background-image: url("../images/Historybackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
}

.contactpage {
	margin: 0 auto;
	text-align: center;
	display: block;
	color: white;
	width: 50%:;
}

.contactpage-map {
	margin: 0 auto;
	width: 750px;
	overflow: hidden;
}

.contactpage-map-left {
	width: 400px;
	height: 250px;
	display: inline-block;
	margin: 4px;
}

.contactpage-map-right {
	float: right;
	clear: right;
	width: 44%;
	margin: 4px;
	color: white;
}

#contactpage_end {
	width: 750px;
	margin: 0 auto;
	text-align: center;
	color: white;
}

#contactpage_end a {
	text-decoration: none;
	color: white;
}

#contactpage_end a:hover {
	text-transform: uppercase;
	text-decoration: underline;
}
